<%- include('partials/header') -%>

<section>
  <div class="container">
    <div class="">
      <h1 class="heading">Welcome to Blog Application</h1>
    </div>
    <div class="about">
      <p class="about_p">
        A blog is a type of website where the content is presented in reverse chronological order (newer content appear first). Blog content is often referred to as entries or “blog posts”. Blogs are typically run by an individual or a small group of people to present information in a conversational style
      </p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="images_section flex">
      <img
        class="image"
        src="https://cdn.mos.cms.futurecdn.net/WqzWxn2pBqvPN9n4DBrjr5.jpg"
        alt="image"
      />
      <img
        class="image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO_oncLWI4vnKRiwSFKU0u38WDW8athA3XyQ&usqp=CAU"
        alt="image"
      />
      
      <img
        class="image"
        src="https://jumpseller.com/images/learn/create-a-blog/blog.jpg"
        alt="image"
      />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="about">
      <h2 class="about_heading">About</h2>
      <p class="about_p">
        Blogs evolved from online diaries and journals in the mid-90s. At that time, internet users were already running personal web pages where they published regular updates about their personal lives, thoughts, and social commentary.
      </p>

      <p class="about_p">
        Blogs are a type of website. The only real difference between a blog and other types of website is that blogs are updated on a regular basis with new content, which is displayed in reverse chronological order (new blog posts first).
      </p>
    </div>
  </div>
</section>
    
<%- include('partials/footer') -%>