<%- include('partials/header') -%>

<section class="main_section">
    <div class="container">
      <h2 class="event_list">Authentication Demo App</h2>
        <section class="events_section flex-70">
          
              <h2 class="title">Login Sucess</h2>
              
        </section>
    </div>
  </section>

<%- include('partials/footer') -%>