<%- include('partials/header') -%>

<section>
  <div class="container">
    <div class="">
      <h1 class="heading">Welcome to Expense Tracker</h1>
    </div>
    <div class="about">
      <p class="about_p">
        The idea of tracking your expenses can feel overwhelming, especially if you’ve been avoiding it for a while or have never done it before. But once you get started really looking at your budget and finances, you’ll feel a sense of relief and control. Finally getting on top of your money and debts comes with huge pay offs: peace of mind and no more debts!
      </p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="images_section flex">
      <img
        class="image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQusJiwbwxaSMGaSkzc7JfZb2_rXcoGmHpkd871jdUZ7rdNvxnsaE33nhtyLvh4gWrLKlU&usqp=CAU"
        alt="image"
      />
      <img
        class="image"
        src="https://www.windowscentral.com/sites/wpcentral.com/files/postimages/15741/hackathon-wp7.jpg"
        alt="image"
      />
      <img
        class="image"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQusJiwbwxaSMGaSkzc7JfZb2_rXcoGmHpkd871jdUZ7rdNvxnsaE33nhtyLvh4gWrLKlU&usqp=CAU"
        alt="image"
      />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="about">
      <h2 class="about_heading">About</h2>
      <p class="about_p">
        When it comes to tracking your spending, there can be different reasons for doing it. Maybe you’re curious about where your money is going, are working towards a specific goal, or want to deal with your debt once and for all. Whatever your reasons, we’ve got the tools and resources to help you get started.
      </p>
    </div>
  </div>
</section>
    
<%- include('partials/footer') -%>