<%- include('partials/header') -%>


    <div class="container">
        <form class="form" method="POST" action="/users">
            <h3>Login</h3>
          <fieldset>
            <input name="name" type="text" placeholder="Name"  />
            <input name="email" placeholder="Email" type="text" />
            <div>
              <button class="btn form_btn" type="submit">Login</button>
            </div>
          </fieldset>
        </form>
    </div>
     
<%- include('partials/footer') -%>